In [23]:
%matplotlib inline
import pandas as pd
import numpy as np
import sqlalchemy

url = "https://docs.google.com/spreadsheets/d/1AWW7q63um7WbwgdcyDQs2u9Gpyh72-SCtJ7LJus_FOU/pub?gid=332175203&single=true&output=csv"

In [24]:
df = pd.read_csv(url)
df

            Timestamp       date       what  price   category
0  1/11/2017 10:25:19  1/12/2017       food   23.0       food
1  1/11/2017 10:27:52  1/10/2017        bus    2.0  transport
2  1/11/2017 10:29:25  1/11/2017     coffee    2.5       food
3  1/11/2017 10:32:16  1/11/2017  ice cream    3.0       food

In [8]:
!rm -f expenses.db
engine = sqlalchemy.create_engine('sqlite:///expenses.db')

In [9]:
CREATE_TABLE = """
CREATE TABLE expenses(
    id INT PRIMARY KEY,
    date CHAR(20),
    what CHAR(20),
    price FLOAT,
    category CHAR(20)
)
"""
# engine.execute(CREATE_TABLE)

In [10]:
# write the whole dataframe to a new table (that must not already exist)
df.to_sql('expenses', engine)

In [11]:
list(engine.execute('SELECT * FROM expenses'))

[(0, '1/11/2017 10:25:19', '1/12/2017', 'food', 23.0, 'food'),
 (1, '1/11/2017 10:27:52', '1/10/2017', 'bus', 2.0, 'transport'),
 (2, '1/11/2017 10:29:25', '1/11/2017', 'coffee', 2.5, 'food')]

In [12]:
pd.read_sql("select * from expenses where category = 'transport'", engine)
# equivalent to
df = pd.read_sql('select * from expenses', engine)
df[df.category == 'transport']

   index           Timestamp       date what  price   category
1      1  1/11/2017 10:27:52  1/10/2017  bus    2.0  transport