In [3]:
%matplotlib inline
import pandas as pd
import numpy as np
import sqlalchemy

url = "https://docs.google.com/spreadsheets/d/1AWW7q63um7WbwgdcyDQs2u9Gpyh72-SCtJ7LJus_FOU/pub?gid=0&single=true&output=csv"

In [5]:
df = pd.read_csv(url)

In [7]:
engine = sqlalchemy.create_engine('sqlite:///expenses.db')

In [15]:
CREATE_TABLE = """
CREATE TABLE expenses(
    id INT PRIMARY KEY,
    date CHAR(20),
    what CHAR(20),
    price FLOAT,
    category CHAR(20)
)
"""
engine.execute(CREATE_TABLE)

In [18]:
# write the whole dataframe to a new table (that must not already exist)
df.to_sql('expenses', engine)

In [20]:
list(engine.execute('SELECT * FROM expenses'))

[(0, '2017/01/01', 'coffee', 2.5, 'food'),
 (1, '2017/01/02', 'cinema', 12.0, 'entertainment'),
 (2, '2017/01/02', 'tube', 4.0, 'transport'),
 (3, '2017/01/02', 'tube', 3.5, 'transport'),
 (4, '2017/01/04', 'book', 10.0, 'entertainment')]

In [25]:
pd.read_sql("select * from expenses where category = 'transport'", engine)
# equivalent to
df = pd.read_sql('select * from expenses', engine)
df[df.category == 'transport']

   index        when  what  price   category
2      2  2017/01/02  tube    4.0  transport
3      3  2017/01/02  tube    3.5  transport